@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot?v=3.0.1');
  src: url('../font/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('../font/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    url('../font/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.controlBar {
    background: rgba(0,0,0,0.9);
    border-radius: 0 0 5px 5px;
    padding-top: 5px;
    z-index: 100;
}

/* When in fullscreen, overlay the video */
.aspect_container:-webkit-full-screen .controlBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity ease 0.3s;
    -moz-transition: opacity ease 0.3s;
    -webkit-transition: opacity ease 0.3s;
    -o-transition: opacity ease 0.3s;
    -ms-transition: opacity ease 0.3s;
}
.aspect_container:-moz-full-screen .controlBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity ease 0.3s;
    -moz-transition: opacity ease 0.3s;
    -webkit-transition: opacity ease 0.3s;
    -o-transition: opacity ease 0.3s;
    -ms-transition: opacity ease 0.3s;
}
.aspect_container:-o-full-screen .controlBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity ease 0.3s;
    -moz-transition: opacity ease 0.3s;
    -webkit-transition: opacity ease 0.3s;
    -o-transition: opacity ease 0.3s;
    -ms-transition: opacity ease 0.3s;
}
.aspect_container:-ms-full-screen .controlBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity ease 0.3s;
    -moz-transition: opacity ease 0.3s;
    -webkit-transition: opacity ease 0.3s;
    -o-transition: opacity ease 0.3s;
    -ms-transition: opacity ease 0.3s;
}
.aspect_container:full-screen .controlBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity ease 0.3s;
    -moz-transition: opacity ease 0.3s;
    -webkit-transition: opacity ease 0.3s;
    -o-transition: opacity ease 0.3s;
    -ms-transition: opacity ease 0.3s;
}

.aspect_container:-webkit-full-screen .controlBar:hover {
    opacity: 1;
}
.aspect_container:-moz-full-screen .controlBar:hover {
    opacity: 1;
}
.aspect_container:-o-full-screen .controlBar:hover {
    opacity: 1;
}
.aspect_container:-ms-full-screen .controlBar:hover {
    opacity: 1;
}
.aspect_container:full-screen .controlBar:hover {
    opacity: 1;
}

/* Also allow for pseudo fullscreen */
.aspect_container.pseudoFullScreen .controlBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 1; /* No hiding for we may be on an iPad/iPod */
}

.timeBar {
    background: #333;
    border: 1px solid black;
    height: 15px;
    border-radius: 5px;
    box-shadow: inset 2px 3px 5px rgba(0,0,0,0.3);
    white-space:nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.timeBar > .progressBar {
    display: inline-block;
    height: 15px;
    width: 1px;
    max-width: 100%;

    background: #DE2174;
    background-image: linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -o-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(222,33,115)),
        color-stop(1, rgb(238,127,175))
    );

    border-radius: 4px 0 0 4px;
}
.timeBar > .progressKnob {
    height: 19px;
    width: 19px;
    display: inline-block;
    border-radius: 12px;
    margin: -5px -3px -5px -12px;
    border: 3px solid #900B45;

    background: #DE2174;
    background-image: linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -o-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(222,33,115)),
        color-stop(1, rgb(238,127,175))
    );
}

.components > div {
    display: inline-block;
    color: white;
    margin: 10px;
    cursor: pointer;
}

.components > div.play, .components > div.volume, .components > div.fullScreen {
    font-family: FontAwesome;
}

.components > div.captions {
    width: 20px;
    height: 16px;
    margin: 0 10px -2px 10px;
}

.captions {
    position: relative;
}

.captions .captionsIcon {
    width: 20px;
    height: 16px;
    background: url("../images/captions.png") top left no-repeat;
}

.captionsMenu {
    width: 200px;
    min-height: 50px;
    background: #333;
    position: absolute;
    bottom: 24px;
    left: -50px;
    box-shadow: 1px 1px 6px black;
    border-radius: 8px;
    border: 1px solid #000;
    z-index: 150;
    display: none;
}

.captionsMenuTipDark {
    border-top: 10px solid #000;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    left: 50px;
    bottom: -11px;
    z-index: 151;
}

.captionsMenuTip {
    border-top: 10px solid #333;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    left: 50px;
    bottom: -10px;
    z-index: 152;
}

.captionsMenuEntry {
    padding: 5px 0;
    margin: 3px 0;
    text-align: center;
}

.captionsMenuEntry:nth-child(3) {
    margin-top: 7px;
}

.captionsMenuEntry:last-child {
    margin-bottom: 7px;
}

.captionsMenuEntry.active {
    background: #EE5799;
}

.captionsMenuEntry.active:before {
    font-family: FontAwesome;
    content: "\f00c";
    margin-right: 5px;
}

.captionsMenuEntry:hover {
    background: #2184AE;
}

.fullScreen:before {
    content: "\f0b2";
}

.play {
    width: 10px;
}

.play:not(.playing):before {
    content: "\f04b";
}

.play.playing:before {
    content: "\f04c";
}

.volume > .icon {
    display: inline-block;
    width: 15px;
}

.volume:not(.muted) > .icon:before {
    content: "\f028";
}

.volume.muted > .icon:before {
    content: "\f026";
}

.volume > .volumeSlider {
    display: inline-block;
    width: 100px;
    height: 10px;
    margin-left: 3px;
    border-radius: 5px;
    box-shadow: inset 1px 2px 7px rgba(0,0,0,0.7), 0 1px 0 rgba(255,255,255,0.2);
}

.volume .volumeLevel {
    width: 20px;
    height: 9px;
    margin: 1px;
    border-radius: 4px;
    width: 100%;

    background: #DE2174;
    background-image: linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -o-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(222,33,115)),
        color-stop(1, rgb(238,127,175))
    );
}

.volume.muted .volumeLevel {
    opacity: 0.4;
}