/*The Control Bar Container Element*/
.control_bar {
	margin: 0px 5%;
	position: absolute;
	bottom: 5%;
	width: 90%;
	height: 37px;
	z-index: 100;
	opacity: 0;
}

* :hover > .control_bar {
	opacity: .9;
}

.control_bar, .control_bar:hover {
	-moz-transition-property: opacity;
	-webkit-transition-property: opacity;
	-o-transition-property: opacity;
	-moz-transition-duration: 1s;
	-webkit-transition-duration: 1s;
	-o-transition-duration: 1s;
	-moz-transition-timing-function: ease;
	-webkit-transition-timing-function: ease;
	-o-transition-timing-function: ease;
}

.control_bar > .button_bar {
	position:relative;
	margin: 0px auto;
	padding: 1px 12px;
	width: 90%;
	height: 25px;
	top: 10px;
	border-radius: 12px;
	-moz-border-radius: 12px;
	background: rgba(0,0,0,.5);
}

.control_left {
	float: left;
	height:25px;
}
.control_right {
	float: right;
	height: 25px;
}

.control_time {
	position:absolute;
	top: 0px;
	height: 7px;
	width: 100%;
}

.vol_on +*, .vol_off +* , .speed +* {
	position:relative;
	overflow:hidden;
	top:9px;
}

.volume , .playrate {
	float: left;
	width: 25px;
	overflow: hidden;
}
.volume:hover, .playrate:hover { width: 125px; }

.volume, .playrate, .volume:hover, .playrate:hover {
	-moz-transition: width .5s ease;
	-webkit-transition: width .5s ease;
	-o-transition: width .5s ease;
}

.control_text, .control {
	float: left;
	opacity: 0.5;
}
.control_text {
	margin: 0px auto;
	position: relative;
	top: 3px;
	color: white;
}
.control {
	background-repeat: no-repeat;
	background-size: 25px 25px;
	height: 25px;
	width: 25px;
}

.play	{ background: url(images/play.png); }
.ff		{ background: url(images/ff.png); }
.rw		{ background: url(images/rw.png); }
.pause	{ background: url(images/pause.png); }
.vol_on	{ background: url(images/vol_on.png); }
.vol_off	{ background: url(images/vol_off.png); }
.speed	{ background: url(images/rate.png); }
.fs		{ background: url(images/fs.png); }
.ab		{ background: url(images/AB.png); }
.cc		{ background: url(images/CC.png); }

.ab_mark {
	background: red;
	position: absolute;
	visibility: hidden;
	top: 0px;
	height: 100%;
	width: 1px;
}

.container_tiny {
	padding: 1px;
	height: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	/*opacity: .5;*/
}

.mortice_tiny {
	height: 5px;
	background: #777;
	-webkit-box-shadow: inset 0px 1px 2px 0px #333;
	-moz-box-shadow: inset 0px 1px 2px 0px #333;
	box-shadow: inset 0px 1px 2px 0px #333;
	border-radius: 3px;
	-moz-border-radius: 3px;
	border-bottom: 1px solid #d0d0d0;
}

.progress_tiny {
	height: 4px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	border-bottom: none;
}

.green {
  background: #AAFF00;
  background: -moz-linear-gradient(top,  #AAFF00 0%, #8c0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#AAFF00), color-stop(100%,#8c0));
  background: -webkit-linear-gradient(top,  #AAFF00 0%,#8c0 100%);
  background: -o-linear-gradient(top,  #AAFF00 0%,#8c0 100%);
  background: -ms-linear-gradient(top,  #AAFF00 0%,#8c0 100%);
  background: linear-gradient(top,  #AAFF00 0%,#8c0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#AAFF00', endColorstr='#8c0',GradientType=0 );
  border-top: 1px solid #e8ffbb;
  border-bottom: 1px solid #690;
}