.ayamelPlayer {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ayamelPlayer .playerTop {
    min-height: 10px;
    background: #333;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
}

.ayamelPlayer .mediaPlayer {
    position: relative;
}

.ayamelPlayer .progressBar {
    height: 20px;
    background: #222;

    -webkit-box-shadow: inset 1px 2px 7px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: inset 1px 2px 7px rgba(0, 0, 0, 0.7);
    box-shadow: inset 1px 2px 7px rgba(0, 0, 0, 0.7);

    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0 10px;
}

.ayamelPlayer .progressLevelPad {
    display: inline-block;
    width: 10px;
    height: 20px;
}

.ayamelPlayer .progressLevelPad:first-child {
    margin-left: -10px;

    background: #DE2174;
    background-image: linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -o-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(222,33,115)),
        color-stop(1, rgb(238,127,175))
    );
}

.ayamelPlayer .progressLevelPad:last-child {
    margin-right: -10px;
}

.ayamelPlayer .progressLevel {
    display: inline-block;
    width: 0;
    height: 20px;

    background: #DE2174;
    background-image: linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -o-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(222,33,115)),
        color-stop(1, rgb(238,127,175))
    );
}

.ayamelPlayer .progressKnob {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: top;
    margin-left: -10px;
    margin-right: -10px;
    z-index: 10;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);

    background: url("../images/knob.png") center no-repeat;
    background-size: contain;
}

.ayamelPlayer .controlBar {
    width: 100%;
    background: #333;
    height: 40px;
    position: relative;

    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
}

.ayamelPlayer .controlBar > div {
    height: 30px;
    position: absolute;
    padding: 5px;
}

.ayamelPlayer .leftControls {
    top: 0;
    left: 0;
}

.ayamelPlayer .rightControls {
    top: 0;
    right: 0;
}

.ayamelPlayer .playButton {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    margin: 5px;
    color: white;
    font-family: FontAwesome;
    text-align: center;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 0 1px #1a1a1a;
    -moz-box-shadow: 0 0 0 1px #1a1a1a;
    box-shadow: 0 0 0 1px #1a1a1a;

    background-image: linear-gradient(bottom, rgb(36,36,36) 0%, rgb(61,61,61) 100%);
    background-image: -o-linear-gradient(bottom, rgb(36,36,36) 0%, rgb(61,61,61) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(36,36,36) 0%, rgb(61,61,61) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(36,36,36) 0%, rgb(61,61,61) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(36,36,36) 0%, rgb(61,61,61) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(36,36,36)),
        color-stop(1, rgb(61,61,61))
    );
}

.ayamelPlayer .playButton:active {
    -webkit-box-shadow: 0 0 0 1px #1a1a1a, inset 1px 1px 3px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 0 0 1px #1a1a1a, inset 1px 1px 3px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 0 1px #1a1a1a, inset 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.ayamelPlayer .playButton.paused:before {
    content: "\f04b";
}

.ayamelPlayer .playButton:not(.paused):before {
    content: "\f04c";
}

.ayamelPlayer .volume {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}

.ayamelPlayer .muteIcon {

    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    color: white;
    font-family: FontAwesome;
    text-align: center;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 0 1px #1a1a1a;
    -moz-box-shadow: 0 0 0 1px #1a1a1a;
    box-shadow: 0 0 0 1px #1a1a1a;

    background-image: linear-gradient(bottom, rgb(36,36,36) 0%, rgb(61,61,61) 100%);
    background-image: -o-linear-gradient(bottom, rgb(36,36,36) 0%, rgb(61,61,61) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(36,36,36) 0%, rgb(61,61,61) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(36,36,36) 0%, rgb(61,61,61) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(36,36,36) 0%, rgb(61,61,61) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(36,36,36)),
        color-stop(1, rgb(61,61,61))
    );
}

.ayamelPlayer .muteIcon:active {
    -webkit-box-shadow: 0 0 0 1px #1a1a1a, inset 1px 1px 3px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 0 0 1px #1a1a1a, inset 1px 1px 3px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 0 1px #1a1a1a, inset 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.ayamelPlayer .volume:not(.muted) .muteIcon:before {
    content: "\f028";
}

.ayamelPlayer .volume.muted .muteIcon:before {
    content: "\f026";
}

.ayamelPlayer .volumeSlider {
    width: 100px;
    height: 14px;
    display: inline-block;
    vertical-align: top;
    margin: 3px 5px;
    padding: 0 7px;
    opacity: 1;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;

    -webkit-box-shadow: inset 1px 2px 7px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.2);
    -moz-box-shadow: inset 1px 2px 7px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.2);
    box-shadow: inset 1px 2px 7px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.2);
}

.ayamelPlayer .volume.muted .volumeSlider {
    opacity: 0.5;
}

.ayamelPlayer .volumeLevelPad {
    height: 14px;
    width: 7px;
    display: inline-block;
    vertical-align: top;
}

.ayamelPlayer .volumeLevelPad:first-child {
    margin-left: -7px;
    -webkit-border-radius: 7px 0 0 7px;
    -moz-border-radius: 7px 0 0 7px;
    border-radius: 7px 0 0 7px;

    background: #DE2174;
    background-image: linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -o-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(222,33,115)),
        color-stop(1, rgb(238,127,175))
    );
}

.ayamelPlayer .volumeLevelPad:last-child {
    margin-right: -7px;
}

.ayamelPlayer .volumeLevel {
    height: 14px;
    width: 100%;
    display: inline-block;
    vertical-align: top;

    background: #DE2174;
    background-image: linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -o-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(222,33,115)),
        color-stop(1, rgb(238,127,175))
    );
}

.ayamelPlayer .volumeKnob {
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: top;
    margin-left: -7px;
    margin-right: -7px;
    z-index: 10;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;

    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);

    background: url("../images/knob.png") center no-repeat;
    background-size: contain;
}

.ayamelPlayer .timeCode {
    color: white;
    display: inline-block;
    padding: 2px 10px;
    background: #222;
    margin: 2px 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 1px 2px 7px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.2);
    -moz-box-shadow: inset 1px 2px 7px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.2);
    box-shadow: inset 1px 2px 7px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.2);
    width: 100px;
    text-align: center;
}

.ayamelPlayer .captions {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    color: white;
    text-align: center;
    margin: 5px;
    position: relative;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 0 1px #1a1a1a;
    -moz-box-shadow: 0 0 0 1px #1a1a1a;
    box-shadow: 0 0 0 1px #1a1a1a;

    background-image: linear-gradient(bottom, rgb(36,36,36) 0%, rgb(61,61,61) 100%);
    background-image: -o-linear-gradient(bottom, rgb(36,36,36) 0%, rgb(61,61,61) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(36,36,36) 0%, rgb(61,61,61) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(36,36,36) 0%, rgb(61,61,61) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(36,36,36) 0%, rgb(61,61,61) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(36,36,36)),
        color-stop(1, rgb(61,61,61))
    );
}

.ayamelPlayer .captions.active {
    -webkit-box-shadow: 0 0 0 1px #1a1a1a, inset 1px 1px 3px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 0 0 1px #1a1a1a, inset 1px 1px 3px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 0 1px #1a1a1a, inset 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.ayamelPlayer .captionsIcon {
    width: 20px;
    height: 20px;
    background: url("../images/captions.png") center no-repeat;
    background-size: 15px;
}

.ayamelPlayer .captionsMenu {
    width: 200px;
    /*min-height: 50px;*/
    background: #333;
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -100px;
    z-index: 200;
    display: none;
    padding: 10px 0;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    border-top: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.6);

    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

.ayamelPlayer .captions.active .captionsMenu {
    display: block;
}

.ayamelPlayer .captionsMenuTipDark {
    border-top: 30px solid #111;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -15px;
}


.ayamelPlayer .captionsMenuTip {
    border-top: 30px solid #333;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -29px;
    left: 50%;
    margin-left: -15px;
}

.ayamelPlayer .captionsMenuEntry.active {
    background: #EE5799;
}

.ayamelPlayer .captionsMenuEntry.active:before {
    font-family: FontAwesome;
    content: "\f00c";
    margin-right: 5px;
}

.ayamelPlayer .captionsMenuEntry {
    padding: 5px 0;
    cursor: pointer;
}

.ayamelPlayer .captionsMenuEntry:hover {
    background: #2184AE;
}

.ayamelPlayer .noCaptionTracks {
    font-style: italic;
}

.ayamelPlayer .fullScreenButton {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    margin: 5px;
    color: white;
    font-family: FontAwesome;
    text-align: center;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 0 1px #1a1a1a;
    -moz-box-shadow: 0 0 0 1px #1a1a1a;
    box-shadow: 0 0 0 1px #1a1a1a;

    background-image: linear-gradient(bottom, rgb(36,36,36) 0%, rgb(61,61,61) 100%);
    background-image: -o-linear-gradient(bottom, rgb(36,36,36) 0%, rgb(61,61,61) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(36,36,36) 0%, rgb(61,61,61) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(36,36,36) 0%, rgb(61,61,61) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(36,36,36) 0%, rgb(61,61,61) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(36,36,36)),
        color-stop(1, rgb(61,61,61))
    );
}

.ayamelPlayer .fullScreenButton:active {
    -webkit-box-shadow: 0 0 0 1px #1a1a1a, inset 1px 1px 3px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 0 0 1px #1a1a1a, inset 1px 1px 3px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 0 1px #1a1a1a, inset 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.ayamelPlayer .fullScreenButton.active:before {
    content: "\f066";
}

.ayamelPlayer .fullScreenButton:not(.active):before {
    content: "\f0b2";
}

/* Full Screen */

.ayamelPlayer:-webkit-full-screen {
    display: block;
    height: 100%;
    width: 100%;
}
.ayamelPlayer:-moz-full-screen {
    display: block;
    height: 100%;
    width: 100%;
}
.ayamelPlayer:-o-full-screen {
    display: block;
    height: 100%;
    width: 100%;
}
.ayamelPlayer:-ms-full-screen {
    display: block;
    height: 100%;
    width: 100%;
}
.ayamelPlayer:full-screen {
    display: block;
    height: 100%;
    width: 100%;
}

.ayamelPlayer:-webkit-full-screen .controlBar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.ayamelPlayer:-moz-full-screen .controlBar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.ayamelPlayer:-o-full-screen .controlBar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.ayamelPlayer:-ms-full-screen .controlBar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.ayamelPlayer:full-screen .controlBar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.ayamelPlayer.pseudoFullScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* Plugins */

.ayamelPlayer .videoBox {
    background: black;
}

.ayamelPlayer video {
    display: block;
    width: 100%;
    height: 100%;
}

.ayamelPlayer .videoCaptionHolder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ayamelPlayer .audioCaptionContainer {
    padding: 8px 20px 8px 0;
}

.ayamelPlayer .audioCaptionHolder {
    width: 100%;
    position: relative;
    height: 40px;

    border-left: 10px solid #333;
    border-right: 10px solid #333;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    border-radius: 20px;
    box-shadow: inset 1px 1px 7px rgba(0, 0, 0, 0.3);
    background: #222222;
    overflow: hidden;
}

.videoCaptionHolder {
    pointer-events: none;
}

.captionator-cue {
    pointer-events: auto;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.ayamelPlayer .audioCaptionHolder .captionator-cue {
    font-size: 16pt;
    box-shadow: inset 1px 1px 7px rgba(0, 0, 0, 0.3), inset 0 0 0 30px #222222;
}